{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Bienvenu sur mon blog !</h1>

    <h2>Les dernières categories enregistrées sont :</h2>
    <ul>
        {% for categorie in categories %}
            <li>
                <a href="{{ path('categorie_show', {'id': categorie.id}) }}">{{ categorie.titre }}</a>
            </li>
        {% else %}
            <p>Il n'y a pas de catégories pour le moment.. <a href="{{path('categorie_new')}}">Créez-en une mainteant !</a></p>
        {% endfor %}
    </ul>
    {% endblock %}
