{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
 <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 09/07/2020 à 16h00 dans la catégorie Symfony</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati voluptatem nobis autem eum harum temporibus!</p>
            <p>Consequatur doloremque porro quis modi commodi inventore cum beatae eaque, hic, laborum, ipsum eum. Omnis.</p>
            <a href="{{ path('blog_show')}}" class="btn">Lire la suite</a>
        </div>
    </article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 09/07/2020 à 16h00 dans la catégorie Symfony</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati voluptatem nobis autem eum harum temporibus!</p>
            <p>Consequatur doloremque porro quis modi commodi inventore cum beatae eaque, hic, laborum, ipsum eum. Omnis.</p>
            <a href="{{ path('blog_show')}}" class="btn">Lire la suite</a>
        </div>
    </article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 09/07/2020 à 16h00 dans la catégorie Symfony</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati voluptatem nobis autem eum harum temporibus!</p>
            <p>Consequatur doloremque porro quis modi commodi inventore cum beatae eaque, hic, laborum, ipsum eum. Omnis.</p>
            <a href="{{ path('blog_show')}}" class="btn">Lire la suite</a>
        </div>
    </article>
{% endblock %}
